{% extends 'base.html.twig' %}

{% block header_padding %}py-24{% endblock %}

{% block body %}
    <div class="container mx-auto">
        <h1 class="text-blue-400 text-5xl text-center">{{ post.title }}</h1>
        <div class="text-amber-300 text-center text-sm">
            {{ post.date|date('d/m/Y') }}
        </div>
        <div class="bg-gray-50 p-5">
            {{ post.content|markdown_to_html }}
        </div>
    </div>
{% endblock %}
